/* About cards */
.hoverCardAbout {
    position: relative;
    overflow: hidden;
    height: 270px;
    width: 250px;
    align-content: center;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .hoverCardAboutAbout .p-4 {
    padding: 1rem;
    /* Adjust padding as needed */
  }

  .hoverCardAbout .p-4 h2,
  .hoverCardAbout .p-4 p {
    margin: 0;
  }

  .hoverCardAbout-content {
    position: absolute;
    color: black;
    z-index: 1;
    transition: color 0.5s;
  }

  .hoverCardAbout-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:hsl(176, 80%, 37%);
    transition: height 0.5s;
  }

  .hoverCardAbout:hover .hoverCardAbout-overlay {
    height: 100%;
  }

  .hoverCardAbout:hover .hoverCardAbout-content {
    color: white;
  }

  /* parallex */
  .parallaxAbout-container {
    height: 400px; /* Adjust height as needed */
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    position: relative;
    overflow-y: hidden;
  }
  .parallaxAbout {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .parallaxAbout img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -520px;
    left: 0;
    transform: translateZ(-1px) scale(2);
    filter: brightness(0.3);
  }

  
.responsiveAbout {
    display: none;
  }
  
  .changeAbout {
    position: relative;
    top: -320px;
  }
  
  @media (max-width: 991px) {
    .responsiveAbout {
      display: block;
    }
  
    .parallaxAbout img {
      display: none;
    }
  
    .parallaxAbout-container {
      display: none;
    }
  
    .parallaxAbout {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
  
    .changeAbout {
      position: relative;
      top: -235px;
    }
  }

  .changes {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(176, 80%, 37%, 0.6);
    color: white;
    font-size: 20px;
    padding: 10px;

    transition: background-color 5ms; /* Added transition property */
  }

  .img-fluid-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ensures the image does not overflow the container */
  }

  .img-fluid-container:hover .changes {
    display: block;
  }
  .position {
    margin-top: 155px;
  }
 